.contactSection {
  padding: 4rem 1rem;
  text-align: center;
  color: white;
  margin-bottom:6rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: white;
}

.description {
  font-size: 1.125rem;
  line-height: 1.8;
  color: #dddddd;
  margin-bottom: 2rem;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.cta {
  display: inline-block;
  padding: 1rem 1.75rem;
  font-weight: 600;
  border-radius: 0.75rem;
  background: var(--accent, #22c55e);
  color: black;
  transition: background 0.3s ease;
  font-size: 1.1rem;

}

.cta:hover {
  background: #3caee0;
}

@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }

  .description {
    font-size: 1rem;
  }

  .cta {
    padding: 12px 24px;
    font-size: 1rem;
  }
}
