.contactSection {
  padding: 4rem 1rem;
  text-align: center;
  color: white;
  margin-bottom:6rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: white;
}

.description {
  font-size: 1.125rem;
  line-height: 1.8;
  color: #dddddd;
  margin-bottom: 2rem;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.cta {
  position: relative;
  display: inline-block;
  padding: 1.2rem 1.8rem;
  font-size: 1.1rem!important;
  font-weight: 600;
  font-family: inherit;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
  outline: none;
  background: var(--accent);/* ✨ léger fond en base */
  color: black;

  text-transform: uppercase;
  box-shadow: 0 0 6px rgba(102, 204, 255, 0.4);
}

/* Hover = fond plein + texte noir */
.cta:hover {
  background-color: #3caee0;
}


@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }

  .description {
    font-size: 1rem;
  }

  .cta {
    padding: 12px 24px;
    font-size: 1rem;
  }
}
