.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  color: white;
  margin-bottom: 2rem;
  margin-top: 1rem;
}



.title {
  font-size: 1.5rem;
  font-weight: bold;
}

.paragraphs {
  display: flex;
  flex-direction: column;

  font-size: 1rem;
  line-height: 1.75;
}

/* === Fade In on Scroll === */
.fadeInOnScroll {
  opacity: 0;
  transform: translateY(14px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fadeInOnScroll.visible {
  opacity: 1;
  transform: translateY(0);
}
.linkHoverUnderline {
  text-decoration: none;
  transition: text-decoration 0.2s ease;
}

.linkHoverUnderline:hover {
  text-decoration: underline;
}