@import './theme.css';

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  margin: 0;
  font-family:var(--font-body);
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1rem;
}

main {

  margin: 0 auto;
}