.container {
  max-width: 640px;
  margin: 60px auto 80px;
  padding: 0 16px;
  color: #eee;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-top: calc(60px + 5rem);
}

.title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 24px;
  color: #fff;
}
