.container {
  max-width: 640px;
  margin: 60px auto 80px;
  padding: 0 16px;
  color: #eee;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-top: calc(60px + 5rem);
}

.title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 24px;
  color: #fff;
}

.formLabel {
  font-weight: 600;
  font-size: 1rem;
  color: #ddd;
  margin-bottom: 12px;
}

.formInput {
  margin-top: 6px;
  padding: 10px 14px;
  font-size: 1rem;
  border: 1.5px solid rgba(255 255 255 / 0.15);
  border-radius: 6px;
  background-color: #171a20;
  color: #ddd;
  font-family: inherit;
  resize: vertical;
  transition: border-color 0.2s ease;
  width: 100%;
  box-sizing: border-box;
  margin-bottom:1rem;
}

.formInput::placeholder {
  color: rgba(255 255 255 / 0.4);
  font-style: italic;
}

.formInput:hover {
  border-color: rgba(255 255 255 / 0.3);
}

.formInput:focus {
  outline: none;
  border-color: var(--accent, #66ccff);
  color: #eee;
  background-color: #171a20;
}

.cta {
  position: relative;
  display: inline-block;
  padding: 0.75rem 1.25rem;
  font-size: 1.1rem !important;
  font-weight: 600;
  font-family: inherit;
  border-radius: 9px;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 2px solid var(--accent);
  background: var(--accent);
  color: black;
  margin-top: 1.25rem;
}

.cta:hover {
  background-color: #3caee0;
}

.tabsSelectFieldset {
  border: none;
  padding: 0;
  margin-bottom: 24px;
}

.tabsSelectFieldset > legend {
  margin-bottom: 8px;
  font-weight: 600;
  color: #ddd;
  font-size: 1rem;
}

.tabsSelectContainer {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  font-size: 1rem;
}

.largeFont {
  font-size: 1.1rem !important;
}

.normalFont {
  font-size: .9rem !important;
}

.tabsSelectBtn {
  cursor: pointer;
  border: 1.5px solid transparent;
  background-color: #22272e;
  color: #bbb;
  padding: 10px 20px;
  font-weight: 600;
  border-radius: 9px;
  font-family: inherit;
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
  flex: 1;
  text-align: center;
  user-select: none;
  font-size: inherit;
}

.tabsSelectBtnActive {
  background-color: var(--accent);
  color: black;
  border-color: var(--accent);
}

.tabsSelectBtn:hover,
.tabsSelectBtn:focus-visible {
  background-color: #3caee0;
  border-color: #3caee0;
  color: black;
  outline: none;
}

/* Errors */

.errorInput {
  border-color: #e06c75 !important; /* soft red */
}

.errorLabel {
  color: #e06c75 !important;
}
