.formLabel {
  font-weight: 600;
  font-size: 1rem;
  color: #ddd;

}

.formInput {
  margin-top: 6px;
  padding: 10px 14px;
  font-size: 1rem;
  border: 1.5px solid rgba(255 255 255 / 0.15);
  border-radius: 6px;
  background-color: #171a20;
  color: #ddd;
  font-family: inherit;
  resize: vertical;
  transition: border-color 0.2s ease;
  width: 100%;
  box-sizing: border-box;
margin-bottom: 1rem;


}

.formInput::placeholder {
  color: rgba(255 255 255 / 0.4);
  font-style: italic;
}

.formInput:hover {
  border-color: rgba(255 255 255 / 0.3);
}

.formInput:focus {
  outline: none;
  border-color: var(--accent, #66ccff);
  color: #eee;
  background-color: #171a20;
  
}

.cta {
  display: inline-block;
  padding: .8rem 1.4rem;
  font-weight: 600;
  border-radius: 0.6rem;
  background: var(--accent, #22c55e);
  color: black;
  transition: background 0.3s ease;
  font-size: 1.1rem;
margin-top:.75rem;
cursor:pointer;

}

.cta:hover {
  background: #3caee0;
}
/* Errors */

.errorInput {
  border-color: #e06c75 !important; /* soft red */
}

.errorLabel {
  color: #e06c75 !important;
}


.cta:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.successMessage {
  color: #4caf50;
  margin-top: 1rem;
  font-weight: 500;

}

.errorMessage {
  color: #ff4d4f;
  margin-top: 1rem;
  font-weight: 500;

}
.row {
  display: flex;
  gap: 1rem; /* espace entre les deux inputs */

  justify-content: center;
}

.row .formLabel {
  flex: 1; /* chaque champ prend 50% */
}