.text {
  margin: 0;
  margin-top:2rem;
  font-size: 15.5px;
  line-height: 1.9;
  color: #e5e7eb;

}

/* Mobile */
@media (max-width: 640px) {
  .text {
    font-size: 14.5px;
    margin-bottom: 1.8rem;
  }
}
